# Control Structures and Functions
Control structures are the essence of programming; they help computers do what they do best: automate repetitive tasks intelligently. The most common control structures are if-else statements, for and while loops, and list and dictionary comprehensions. This session will cover all these concepts.

### If statements
"IF" statements are imperative in Python and they help us build programs that could make decisions based on a specified condition


*   If I am tired, I'll go to bed

*   If I am hungry, I'll order food

Notice all these applications start with the word 'IF' and that is the first way we are going to control our applications.

And before writing down a code to mimic a decision, let us first look at the relational operators that would help us test or define some kind of relation between two entities.

Relational operators are used to test equality or inequality of a condition and that condition might change based on your preference.

```
Example -
If its raining == True:
  I'll get an umbrella

```

<h2 style = "color:Brown"> Relational Operators</h2>

- Compares the values on either side of the operator and returns and boolean value as True or False.

#### Double equal to operator

In [2]:
10 == 10

True

<h4 style = "color:Red">Note</h3>

#####' = ' is an assignment operator; it is used to assign value to a variable on the left.

#####'==' is a relational operator; it is used for comparision of equality.

In [4]:
10 == 5

False

#### Not equal to operator

In [7]:
10 != 5

True

#### Greater than operator

In [8]:
10 > 5

True

#### Less than operator

In [9]:
10 < 5

False

#### Greater than equal to operator

In [15]:
10 <= 10

True

#### Less than equal to operator

In [ ]:
10 >= 5

<h2 style = "color:Brown">Decision Making

Now let's get back to writing a conditional statement with the 'if' condition

To do that we would write it 'if' followed by an expression

#### Write a program to check value in variable x is less than 99

In [16]:
x= 45
if x < 99:
    print(x, " is less than 99")
else:
    print(x," is more than 99")

45  is less than 99

In [18]:
x= 99
if x < 99:
    print(x, " is less than 99")
elif x ==99:
    print(x, " is equal to 99")
    
else:
    print(x," is more than 99")

99  is equal to 99

## Logical Operators
We use logical operators in situations where we have multiple conditions

####   AND
####   OR
####   NOR
####   XOR

Are some of the common and most widely used logical operators
You can learn more about them from this link: https://pythonlessons.net/python-logic-gates/

#### Write a program to record the age of visitor and allows him to an exclusive children's day party hosted by Mr Obama only if he or she is above 60 years or below 18 years of age

In [19]:
x= int(input("Enter your Age:  "))
if x<=18 or x>=60:
    print("Welcome to The Party")
else:
    print("Sorry ! You do not fit in the age criteria")

Enter your Age:  22
Sorry ! You do not fit in the age criteria

#### Write a program which offers various discounts based on purchase bills

In [ ]:
# shopping > 500 =>>> 1000 voucher
# shopping >250 but less than 500 =>> 500 voucher
# shopping >100 but less than 250 =>> 100 voucher
#shoppingp <100 =>> no voucher

#### Example on nested if-else

In [26]:
world_cups = {2019 : ['England', 'New Zealand'], 2015:["Australia", "New Zealand"], 2011 : ["India", "Sri Lanka"], 2007: ["Australia", "Sri Lanka"], 2003: ["Australia", "India"]}

year = int(input("Enter year to check New Zealand made it to Finals in 20th century : "))
print(year)

Enter year to check New Zealand made it to Finals in 20th century : 2011
2011

In [27]:
world_cups

{2019: ['England', 'New Zealand'],
 2015: ['Australia', 'New Zealand'],
 2011: ['India', 'Sri Lanka'],
 2007: ['Australia', 'Sri Lanka'],
 2003: ['Australia', 'India']}

In [29]:
world_cups[year]

['India', 'Sri Lanka']

In [28]:
if year in world_cups:
    if "India" in world_cups[year]:
        print("India made it to finals")
    else:
        print("India could not make it to finals")
else:
    print("World cup wasn't played in ",year)

India made it to finals

<h2 style = "color:Brown">Loops and Iterations

Let’s look at a small example where you have a person’s income and expense data across five months in the form of a list, and you want to compute his savings across these five months. You may be thinking of doing this manually by taking the first elements from the two lists and subtracting them, then again taking the second elements and subtracting, and so on. This may look simple, but let’s say it is across 10 or 20 years. Would you do the same? 

 

This is where the concept of iteration comes in handy, as you are repeating the same operation multiple times. With this in mind, let’s learn more about it.

Let's start with a simple 'While' loop - 
##### A while loop begins with a keyword 'While' followed by an expression 
##### So While this condition is satisfied keep running the loop

In [4]:
# Let's create a pin checker which we generally have in our phones or ATMs
pin= input("Enter your Four digit pin: ")
while pin!='1234':
    pin=input("Invalid input please try again")

print("Pin validation successfull")

Enter your Four digit pin: 322
Invalid input please try again232
Invalid input please try again32322
Invalid input please try again2323
Invalid input please try again23232
Invalid input please try again1234
Pin validation successfull

In [6]:
# Now if we want to add a maximum number of tries allowed condition we'll use the if loop

import sys    #required for exiting the code and displaying an error
pin= input("Enter your Four digit pin: ")
attempt_count=1
while pin!='1234':
    
    if attempt_count >=5:
        sys.exit("Too many attempts your card is blocked")
    pin=input("Invalid input please try again")
    attempt_count +=1
print(" ****  Pin validation Succssfull *****")

Enter your Four digit pin: 23234
Invalid input please try again34343
Invalid input please try again4343
Invalid input please try again343
Invalid input please try again34343

SystemExit: Too many attempts your card is blocked

D:\anaconda\lib\site-packages\IPython\core\interactiveshell.py:3468: UserWarning: To exit: use 'exit', 'quit', or Ctrl-D.
  warn("To exit: use 'exit', 'quit', or Ctrl-D.", stacklevel=1)

In [8]:
# iterate over list of integers

l = [1,3,4,2,5,6]
for i in l:
    print(i)

1
3
4
2
5
6

In [10]:
# iterate over a string

string = "New York"
for ch in string:
    print(ch+" printed")

N printed
e printed
w printed
  printed
Y printed
o printed
r printed
k printed

In [15]:
# iterate over a string - modify print using end

string = "New York"
 # default value of end = "\n"
for ch in string:
    print(ch)

New York

In [16]:
# iterating over a dictionary

students_data = {1:['Sam', 24] , 2:['Rob',25], 3:['Jack', 26], 4:['Cornor',24], 5:['Trump',27]}
for key,val in students_data.items():
    print(key,val)

1 ['Sam', 24]
2 ['Rob', 25]
3 ['Jack', 26]
4 ['Cornor', 24]
5 ['Trump', 27]

In [17]:
students_data.keys()

dict_keys([1, 2, 3, 4, 5])

In [18]:
# iterate over keys of a dictionary

for key in students_data.keys():
    print(key)

1
2
3
4
5

In [19]:
# Generate range of values.
range(1,101)

range(1, 100)

In [21]:
l =list(range(1,101))
# l

In [22]:
# Iterate over range of values
for i in range(1,101):
    print(i,end=" ")

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

In [24]:
# different variations in range

# gives numbers from 1 to 100 with a step count of 2
print(list(range(1,101,2)))
 # gives a reversed sequence of numbers from 100 to 1
print(list(range(100,0 ,-1)))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]
[100, 99, 98, 97, 96, 95, 94, 93, 92, 91, 90, 89, 88, 87, 86, 85, 84, 83, 82, 81, 80, 79, 78, 77, 76, 75, 74, 73, 72, 71, 70, 69, 68, 67, 66, 65, 64, 63, 62, 61, 60, 59, 58, 57, 56, 55, 54, 53, 52, 51, 50, 49, 48, 47, 46, 45, 44, 43, 42, 41, 40, 39, 38, 37, 36, 35, 34, 33, 32, 31, 30, 29, 28, 27, 26, 25, 24, 23, 22, 21, 20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

#### Ex. Write a program to print prime numbers between 1 to 20

In [30]:
for n in range (900,920):
#     print("NUMBER===== ",n)
    flag=True
    for i in range (2,n):
#         print(" divisor i ",i)
#         4%2 ==0----
        if n%i==0:
            flag=False
            break
    if flag:
        print(n)

907
911
919

<h2 style = "color:Brown">Comprehensions

In [31]:
l1 = ["automobiles", "Honda", "Benz", "Suzuki", "Morris Garages" ]
l2=[]
for motor in l1:
    l2.append(len(motor))
l2

[11, 5, 4, 6, 14]

#### The Functional Approach

In [33]:
# Example on list comprehension

l
l2 = [ len(motor) for motor in l1]
l2

# Create a list consisting of length of each element from the above list

[11, 5, 4, 6, 14]

In [41]:
print(l1)
print(l2)

['automobiles', 'Honda', 'Benz', 'Suzuki', 'Morris Garages']
[11, 5, 4, 6, 14]

In [40]:
list(zip(l1,l2))

[('automobiles', 11),
 ('Honda', 5),
 ('Benz', 4),
 ('Suzuki', 6),
 ('Morris Garages', 14)]

In [42]:
t=(1,2)
a,b=t
print(a,b)

1 2

In [47]:
d.items()

dict_items([('a', 1), ('c', 2)])

In [49]:
o={'X':1,'Y':2}
o.items()

dict_items([('X', 1), ('Y', 2)])

In [51]:
for i,j in zip(d.items(),o.items()):
    print(i,j)

('a', 1) ('X', 1)
('c', 2) ('Y', 2)

In [45]:
d={'a':1,'c':2}
d
for k,v in zip(d.keys(),d.values()):
    print(k,v)

a 1
c 2

In [37]:
# iterating over l1 and l2 simultaneously

for i, j in zip(l1,l2):
    print(i," - ",j)

automobiles  -  11
Honda  -  5
Benz  -  4
Suzuki  -  6
Morris Garages  -  14

#### Dictionary comprehension

In [ ]:
{"automobiles":11,"Honda":5,"Benz":4,"Suzuki":6,"Morris Garages":14}

In [53]:
# Example on dictionary comprehension

l1 = ["automobiles", "Honda", "Benz", "Suzuki", "Morris Garages" ]

# Create a dictionary consisting of element and length of each element from the above list

d={ch :len(ch) for ch in l1}
d

{'automobiles': 11, 'Honda': 5, 'Benz': 4, 'Suzuki': 6, 'Morris Garages': 14}

#### Set Comprehensions

#### Ex . Write a program which takes a word as input from user and returns vowels from the word

In [58]:
# "enter a word" ==>  e , a, O
# aeiou
word = input("Enter your word ")
vowels= {ch for ch in word if ch in "aeiouAEIOU"}
vowels

Enter your word India Have a nice day

{'I', 'a', 'e', 'i'}

In [59]:
v=[]
for ch in word :
    if ch in "aeiouAEIOU":
        v.append(ch)
v

['I', 'i', 'a', 'a', 'e', 'a', 'i', 'e', 'a']

In [ ]:
#  return value  || for loop  ||  if condn

1. Function which takes arguments and Return Values
2. Function which takes arguments but do not return any values
3. Funciton which do not take any arguments and do not return any values ### DONE ----------->
4. Function which do not take any arguments but return values . ### DONE ------------>

In [1]:
def my_friend():
    print("I am your friend which will do your work")

my_friend()

I am your friend which will do your work

In [4]:
def give_me_money():
    print("I am your friend which will Give you Money")
    return "500000 Rs"

# give_me_money()

print("I got my ",give_me_money())

I am your friend which will Give you Money
I got my  500000 Rs

In [6]:
def calculate_my_money(money):
    print("I got your money ",money)
    print("I added my 200 in your money and got ",money + 200)
    
money =5000
calculate_my_money(money)

I got your money  5000
I added my 200 in your money and got  5200

In [7]:
def make_my_money_twenty_five_times(money):
    output_money = money * 25
    return output_money


money= 5000
returned_money = make_my_money_twenty_five_times(money)
print("I got my money doubled  ", returned_money)

I got my money doubled   125000

<h2 style = "color:Brown">Functions</h2>

#### Ex. Write a function which takes a value as a parameter and returns its factorial

In [ ]:
# 10 = 10

In [ ]:
5==> 5 * 4 * 3 * 2 * 1
 1 * 2 * 3 * 4 * 5

In [10]:
def factorial (n):
    fact =1
    print(" Initial Value of fact = ",fact)
    for i in range(1,n+1):
        
        print(" \n i = ",i)
        
        fact *= i
        
        print(" \nfact = ",fact)
     
    return fact 

        
# fact=>1  * i=>1==1
# fact=>1*i=>2 ==2
# 2*3==6
# 6*4==24
# 24*5==120
        
factorial(5)

 Initial Value of fact =  1

 i =  1

fact =  1

 i =  2

fact =  2

 i =  3

fact =  6

 i =  4

fact =  24

 i =  5

fact =  120

120

#### Function Arguments

In [12]:
  # default parameter
def func(name="Vicky", age=35):
    print("name : ",name)
    print("age : ",age)

In [15]:
func(25)

name :  25
age :  35

In [17]:
def var_func(city,age):
    print("city : ",city)
    print("age : ",age)

In [29]:
var_func(25,"Nagpur")

(25, 'Nagpur')

In [36]:
 # key-word argument
    
def describe_person(name,**kwargs):
    
#     print("kwargs= ",kwargs)
 
    decription = " Name:  "+ name+"\n"

    for key, value in kwargs.items():
        decription = decription+ key + " : " + value
    return decription


print(describe_person("Vicky",age="25 ",location="Nagpur", hobby="Dancing"))

 Name:  Vicky
age : 25 location : Nagpurhobby : Dancing

In [22]:
 # variable-length argument

def var_func(*var):
    print(var)

var_func('Vicky',23,"Nagpur","Cricket")

('Vicky', 23, 'Nagpur', 'Cricket')

<h2 style = "color:Brown"> Lambda Function

In [40]:
# Write a lambda function to check a number is even or odd
def check_even_or_odd(n):
    if n % 2 ==0:
        return "Even"
    else:
         return "Odd"
    
check_even_or_odd(5)

'Odd'

In [46]:
check_even_or_odd

In [50]:
def check_lenght_of_name(name):
    
    if len(name)>5:
        return "Very large name"
    else:
         return "Small name"
        
check_lenght_of_name("Vicky")

'Small name'

In [43]:
ev_odd = lambda n : "even" if n % 2==0 else "odd"

In [47]:
ev_odd

In [48]:
ev_odd(5)

'odd'

<h2 style = "color:Brown">map - filter - reduce

#### Some more examples on map - filter - reduce

#### Defining a function and using it in map

In [55]:
# map( function, itterable(list, dictionary ,tuple))
def squareit(n):
    return n ** 2
L1 = [2,5,6,7,8,9,10]   
square_list  = list(map(squareit,L1 ))
square_list

[4, 25, 36, 49, 64, 81, 100]

In [56]:
L1 = [2,5,6,7,8,9,10]
square_list= list(map(lambda n: n**2 ,L1))
square_list

[4, 25, 36, 49, 64, 81, 100]

#### Filter function to return the multiples of 3

In [58]:
# filter( function, list/dictionary/tuple)
L1=[3,4,5,6,7,8,9,10]

# TRUE or FALSE

divby3 = lambda x :  x % 3 ==0 

multiples= list(filter(divby3, L1))
multiples

[3, 6, 9]

#### Ex. Write a python program to count the students above age 18

In [61]:
students_data ={1:['Sam',15],2:["Rob",18],3:["Shyam",16],4:["Trum",26],5:["Elon",35]}


list(filter( lambda x:x[1] >18, students_data.values() ))

[['Trum', 26], ['Elon', 35]]

In [62]:
students_data.values()

dict_values([['Sam', 15], ['Rob', 18], ['Shyam', 16], ['Trum', 26], ['Elon', 35]])

#### Reduce to return product of elements

In [65]:
from functools import reduce 
q = reduce(lambda x, y: x*y, [1,2,3,4])
q

24

In [ ]:
1,2
x=1,y=2
1+2== 3
x=3,y=3
3+3= 6
x=6 ,y=4
6+4= 10

# Calculator Using Python Funcions

In [ ]:
# Addition  - (num1,num2) ---> and return the addition
# substraction - (num1,num2) ---> and return the substraction
# Division - (num1,num2) ---> and return the division
# Multiplication - (num1,num2) ---> and return the multiplication

# Guess The Number ------

In [ ]:
It will generate a Number and User will guess the number . and if the Generated Number and Guessed Number is Correct
just print that you have guessed the correct number

One number as inut from user  it will return Congrats if both numbers are same

# Palindrom Checker

## MOM ==> MOM

In [1]:
a="mom"

In [3]:
a="AbcdeF"

In [4]:
a[::-1]

'FedcbA'

# Password Checker

In [ ]:
## ---> Length >= 8
## ---> Atleast one letter should be Capital
## ----> It should Contain atleast 1 special character (@,#,$,%,&)
##-----> should not contain "-"

In [13]:
def check_if_palindrome(text):
    
    end = len(text)-1
    print("end ==>",end)
    palindrome = True
    for i in text:
#         print()
        print("i==", i, "tex[end] >> ", text[end])
        if i == text[end]:
            end -= 1
            print("end===> ",end)
        else : 
            palindrome = False
    return palindrome


pal = 'abcxa'

print(check_if_palindrome(pal))

end ==> 4
i== a tex[end] >>  a
end===>  3
i== b tex[end] >>  x
i== c tex[end] >>  x
i== x tex[end] >>  x
end===>  2
i== a tex[end] >>  c
False

In [6]:
len(pal)

5

In [63]:
def add(a, b):
    return a + b

def subtract(a, b):
    return a - b

def multiply(a, b):
    return a * b

def divide(a, b):
    if b != 0:
        return a / b
    else:
        return "Error! Division by zero."

In [64]:
def calculator():
    print("Select operation:")
    print("1. Add")
    print("2. Subtract")
    print("3. Multiply")
    print("4. Divide")
    
    choice = input("Enter choice (1/2/3/4): ")
    num1 = float(input("Enter first number: "))
    num2 = float(input("Enter second number: "))

    if choice == '1':
        print("Result:", add(num1, num2))
    elif choice == '2':
        print("Result:", subtract(num1, num2))
    elif choice == '3':
        print("Result:", multiply(num1, num2))
    elif choice == '4':
        print("Result:", divide(num1, num2))
    else:
        print("Invalid Input")

In [65]:
calculator()

Select operation:
1. Add
2. Subtract
3. Multiply
4. Divide
Enter choice (1/2/3/4): 4
Enter first number: 56
Enter second number: 47
Result: 1.1914893617021276